.quotes {
  > li {
    background: var(--clr-primary-700);
    color: var(--clr-neutral-200);
    text-align: left;
    border-radius: var(--br);
    padding: 2rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 50em) {
      &:nth-child(2) {
        transform: translateY(1.5rem);
      }
      &:nth-child(3) {
        transform: translateY(3rem);
      }
    }
  }

  img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
  .name {
    font-family: "spartan-bold";
  }

  .status {
    color: var(--clr-primary-300);
  }
  .quote {
    margin-top: 1.5rem;
  }
}
