.reviews {
  > li {
    color: var(--clr-primary-700);
    background: var(--clr-neutral-200);
    font-family: "spartan-bold";
    padding: 0.5rem;
    border-radius: var(--br);
    max-width: 27rem;
    margin-left: auto;
    margin-right: auto;

    .star-container {
      @include flexCenter(row);

      img {
        margin: 0.5em 0.5em 0.5em 0.5em;
      }
    }
    @media (min-width: 50em) {
      display: flex;
      .review {
        display: flex;
        align-items: center;
        margin-left: 1rem;
      }
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
